*{
    box-sizing :border-box,
}
body{
    font-family: sans-serif;
   color:green;
   font-weight: 500;
}
a
{  display:inline-block;
}
.cabcecera{
padding-top: 15px
padding-bottom 15px;
background-color:red;
}

.cabcecera .link-logo
{
    display: inline-block;
    vertical-align: middle;
}

.cabcecera .link-logo .logo
{
    width: 40%;
    height: auto;
}
.cabcecera .menu
{
    display: inline-block;
}





